return {
  {{- $is_nixos := false -}}
  {{- if hasKey .chezmoi.osRelease "id" -}}
    {{- if eq .chezmoi.osRelease.id "nixos" -}}
      {{- $is_nixos = true -}}
    {{- end -}}
  {{- end -}}

{{- if $is_nixos }}
  { "mason-org/mason.nvim", enabled = false },
  { "mason-org/mason-lspconfig.nvim", enabled = false },
{{- else }}
  "mason-org/mason.nvim",
  opts = {
    ensure_installed = {
      "clang-format",
      "clangd",
      "cmakelang",
      "cmakelint",
      "codelldb",
      "json-lsp",
      "lua-language-server",
      "markdown-toc",
      "markdownlint-cli2",
      "marksman",
      "neocmakelsp",
      "prettier",
      "python-lsp-server",
      "ruff",
      "rust-analyzer",
      "shellcheck",
      "shfmt",
      "stylua",
      "taplo",
      "tinymist",
      "typstyle",
      "tree-sitter-cli",
      "typescript-language-server",
      "uv",
      "vtsls",
      "yaml-language-server",
    },
    ui = {
      icons = {
        package_installed = "✓",
        package_pending = "➜",
        package_uninstalled = "✗",
      },
    },
  },
  {{- end}}
}
