{{- $is_nixos := false -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
  {{- if eq .chezmoi.osRelease.id "nixos" -}}
    {{- $is_nixos = true -}}
  {{- end -}}
{{- end -}}

return {
  "neovim/nvim-lspconfig",
  opts = {
    servers = {
      rust_analyzer = {
        settings = {
          ["rust-analyzer"] = {
            inlayHints = {
              lifetimeElisionHints = {
                enable = "always",
                useParameterNames = true,
              },
            },
          },
        },
      },
      -- Add tinymist configuration
      tinymist = {
        {{- if $is_nixos }}
        mason = false,
        {{- else }}
        -- Use Mason-installed tinymist
        mason = true,
        {{- end }}
        settings = {
          formatterMode = "typstyle", -- Use typstyle for formatting
          exportPdf = "onSave", -- Auto-export PDF on save (or "onType")
        },

        -- Custom keymaps for Typst
        keys = {
          {
            "<leader>tp",
            function()
              local client = vim.lsp.get_clients({ name = "tinymist", bufnr = 0 })[1]
              if client then
                client:exec_cmd({
                  title = "Pin current Typst file",
                  command = "tinymist.pinMain",
                  arguments = { vim.api.nvim_buf_get_name(0) },
                }, { bufnr = 0 })
              end
            end,
            desc = "Pin main Typst file",
            ft = "typst",
          },
          {
            "<leader>tu",
            function()
              local client = vim.lsp.get_clients({ name = "tinymist", bufnr = 0 })[1]
              if client then
                client:exec_cmd({
                  title = "Unpin Main File", -- Added missing field
                  command = "tinymist.pinMain",
                  arguments = { vim.v.null },
                }, { bufnr = 0 })
              end
            end,
            desc = "Unpin Typst main file",
            ft = "typst",
          },
        },
      },
    },
  },
}
