local ssh_domains = {
{{- if and (index . "wezterm") (index .wezterm "ssh_domains") }}
	{{- range .wezterm.ssh_domains }}
	{
		name = {{ .name | quote }},
		remote_address = {{ .remote_address | quote }},
		username = {{ .username | quote }},
    {{- if index . "remote_wezterm_path" }}
		remote_wezterm_path = {{ .remote_wezterm_path | quote }},
		{{- end }}
	},
	{{- end }}
{{- end }}
}

return ssh_domains
